body {
  background-color: #2e333c;
  color: #eeeeee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
}
h1 {
  color: #00adb5;
  font-family: "Droid Sans Mono", "Consolas";
  font-size: 3rem;
  text-justify: inter-word;
  text-align: justify;
}
.box {
  width: 1000px;
  height: 700px;
  background-color: #393e46;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

p {
  font-size: 2em;
}

img{
width: 50px;
border-radius: 50%;
vertical-align: middle;
}
span{
  padding: 15px;
  font-size: 1.5em;
}

button {
  background: #222831;
  border: 10px;
  border-radius: 10px;
  color: #eeeeee;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 30px;
  height: 110px;
}
a{
  text-decoration: none;
  color: #eeeeee;
}
.buttons{
  display: table;
  margin: 0 auto;
}

button:after {
  content: " »";
  position: Absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  padding-right: 24px;
  padding-left: 8px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

button:hover:after {
  opacity: 1;
  right: 10px;
}
